.ImageWrapper {
  border: 2px solid pink; /* Розовая рамка */
  border-radius: 5px; /* Закругление углов */
  padding: 10px; /* Отступы внутри рамки */
  display: inline-block; /* Чтобы рамка обтягивала изображение */
}

.image_logo {
  border-radius: 15px;
}