/* Основной стиль */
.exp {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap; /* Добавим обтекание для мобильных устройств */
}

.exp_img {
  width: 100%; /* Устанавливаем картинку на 100% ширины родителя */
  max-width: 300px; /* Ограничиваем максимальную ширину */
  height: auto;
  border-radius: 20px;
}

.exp_text {
  width: 100%; /* Для мобильных устройств, чтобы текст занимал всю ширину */
  font-size: 18px; /* Сделаем шрифт меньше на маленьких экранах */
  border: 1px solid black;
  border-radius: 20px;
  padding: 22px 10px;
  margin: 0;
  box-sizing: border-box; /* Учитываем паддинги в расчете ширины */
}

/* Адаптивность для экранов шириной более 600px (планшеты и десктопы) */
@media (min-width: 600px) {
  .exp {
    justify-content: flex-start; /* На большем экране текст и изображение будут слева */
    flex-wrap: nowrap
  }

  .exp_img {
    width: 300px; /* Устанавливаем фиксированную ширину для изображения */
    max-width: 300px; /* Максимальная ширина не больше 300px */
  }

  .exp_text {
    width: auto; /* Для текста даем автоподстройку по ширине */
    font-size: 25px; /* Больший шрифт для планшетов и десктопов */
  }
}

/* Адаптивность для экранов шириной более 1024px (десктопы) */
@media (min-width: 1024px) {
  .exp {
    gap: 40px; /* Увеличиваем отступы на больших экранах */
  }
}
